/* * {
  background-color: #fefbf3;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #a6d6d6;
  text-shadow: 2px 2px #84b9b9;
}

.container {
  border-color: #ce97b0;
  border-style: double;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  padding-top: 10px;
}

.task-container {
  text-align: center;
  /* max-width: 400px; */
/* width: max-content;
  margin: 40px auto;
  margin-right: 40px;
  flex-direction: row;
  display: flex;
  border-color: #ce97b0;
  border-style: double;
} */

/* .task-container:hover {
  background-color: #84b9b9;
}

.input-todo {
  border-color: #84b9b9;
  color: #f4a9a8;
  width: 300px;
}

.add-button {
  color: ivory;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border-style: none;
  margin-left: 5px;
  background-color: #f4a9a8;
  cursor: pointer;
}

.delete-button {
  color: ivory;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border-style: none;
  margin-left: 5px;
  background-color: #ce97b0;
  padding-bottom: 5px;
  text-align: center;
}

.tasks-list {
  text-align: center;
}

li {
  list-style: none;
}

.input-w-button {
  border-color: #ce97b0;
  border-style: double;
} */
